<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'background-image': 'url(../../../assets/images/BG.png)', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">


  <mat-card><mat-card-title>Error</mat-card-title><mat-card-content>Oups you should not be here ! <a routerLink="/">Home</a></mat-card-content></mat-card>



</div>
