

  <div class="Image" style="--image-url: url(../../../assets/images/person2.jpg)"></div>
  <div class="middle">
    <div class="userName">{{opinion.firstname}} {{opinion.lastname}}</div>
    <div class="comment" style="width: 50%">
      {{opinion.comment}}
    </div>
    <div class="timeStamp"> le 17/11/2019 à 18:55:46  </div>
  </div>

