

  .Image{
    width: 70px;
    height: 70px;
    background: var(--image-url);
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.2);
    margin-top: 10px;

  }

  .middle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
    width: 60%;
    .userName{
      margin-bottom: 10px;
      font-family: "Raleway", sans-serif;
      color: brown;
    }
    .comment{
        width: 50%;
    }
    .timeStamp{
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      font-size: small;
      color: #A9A8A3;
    }

  }

  .contactBtn{
    width: 100px;


    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: cadetblue;
      color: rgba(255, 255, 255, 0.9);
      font-size: 0.75em;
      padding: 1.05em 1em;
      position: relative;
      height: 50px;
      width: 100px;
      border-radius: 10px;
      top: 20px;

      &:hover{
        background-color: rgba(255, 255, 255, 0.9);
        color: cadetblue;
        border-radius: 10px;
      }
    }
  }

