

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-dialog-content>

      <mat-card-header>
        <mat-card-title *ngIf="isUpdateMode">Update {{ form.get('region').value }} {{ form.get('country').value }}</mat-card-title>
        <mat-card-title *ngIf="!isUpdateMode">Create new Destination</mat-card-title>
      </mat-card-header>

      <form novalidate class="example-form" [formGroup]="form">
        <mat-card-content>
          <div *ngIf="isUpdateMode" class="example-full-width" style="margin-bottom: 10px;" >
            <span style="width:100%">ID (disabled)</span>
            <span style="width:100%">{{model.id}}</span>
          </div>
          <mat-form-field class="example-full-width" [class.mgb15]="form.get('city').dirty && form.get('city').invalid">
            <input matInput placeholder="City"  formControlName="city" type="text" required>
            <mat-error *ngIf="form.get('city').dirty && form.get('city').hasError('required')">
              City is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('city').dirty && form.get('city').hasError('minlength')">
              City is <strong>3 chars min</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" [class.mgb15]="form.get('region').dirty && form.get('region').invalid">
            <input matInput placeholder="Region"  formControlName="region" type="text" required>
            <mat-error *ngIf="form.get('region').dirty && form.get('region').hasError('required')">
              Region is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('region').dirty && form.get('region').hasError('minlength')">
              Region is <strong>3 chars min</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" [class.mgb15]="form.get('country').dirty && form.get('country').invalid">
            <input matInput placeholder="Country" formControlName="country" required>
            <mat-error *ngIf="form.get('country').dirty && form.get('country').hasError('required')">
              Country is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('country').dirty && form.get('country').hasError('minlength')">
              Country is <strong>3 chars min</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" [class.mgb15]="form.get('description').dirty && form.get('description').invalid">
            <textarea matInput placeholder="Description"  formControlName="description" type="text" required>Enter text here...</textarea>
            <mat-error *ngIf="form.get('description').dirty && form.get('description').hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('description').dirty && form.get('description').hasError('minlength')">
              Description is <strong>6 chars min</strong>
            </mat-error>
          </mat-form-field >
          <mat-form-field class="example-full-width" [class.mgb15]= "form.get('image').invalid">
            <ngx-mat-file-input [disabled]="!isUpdateMode()" matInput (change)="handleFileInput($event.target.files)" formControlName="image" placeholder="Image"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
            <mat-error *ngIf="form.get('image').dirty && form.get('image').hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>


        </mat-card-content>

      </form>

    </mat-dialog-content>


    <mat-dialog-actions>
      <button mat-stroked-button color="accent" class="btn-block" type="button" (click)="cancel()">Cancel</button>
      <button mat-stroked-button color="accent" class="btn-block" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
    </mat-dialog-actions>
  </mat-card>
</div>
