<section class="wrapper">
  <!-- Title group  -->
  <div class="title-group" style="padding-top: 40px;">
    <h1 class="mat-h1">Destinations List</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>

  <section class="buttons-fab" *ngIf="dialogStatus === 'inactive'">
    <button mat-raised-button color="accent" (click)="showDialog(true)">Add</button>
  </section>

  <p *ngIf="destinations.length <= 0" class="no-data">There is no Users added yet!</p>

  <div class="container" *ngIf="destinations.length > 0">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="city" >
          <th mat-header-cell *matHeaderCellDef class="city"> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef class="region"> Region </th>
          <td mat-cell *matCellDef="let element"> {{element.region}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef class="country"> Country</th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef class="image"> Image </th>
          <td mat-cell *matCellDef="let element"> <span *ngIf="element.image"> {{element.image.filename}}</span> </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="description"> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="action"> Action </th>
          <td mat-cell *matCellDef="let element; let i = index;" class="action">
            <button mat-raised-button color="primary" class="push-right"
                    [routerLink]="['/admin/editDestination/', element.id]">Edit</button>
            <button mat-raised-button color="accent" (click)="deleteDestination(i, element)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</section>
