.main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin-top: 40px;

}

.container{

  width: 80%;
  height: 500px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.2);
  border-radius:12px;


}


/*
The container box is relative so we can position stuff inside of it
*/
.image-box {
  position: relative;
  padding-top: 100px;
  z-index: 0;

  .image-box__overlay {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 250px;
    width: 100%;
    overflow: hidden;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;


    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }

      img{
        position: relative;
        width: 100%;
        z-index: -1;

      }
  }


  .image-box__content {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

      .title1 {
        color: white;
        font-size: 70px;
        margin-bottom: 4px;
        position: relative;

        span {
          position: absolute;
          top: 3px;
          margin-left: 12px;
          background: #C4AF3D;
          border-radius: 5px;
          color: #544C21;
          font-size: 14px;
          padding: 0px 4px;

        }
      }

      .title2 {
        color: #C7C1BA;
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 15px;
      }
  }



.detailsWrapper{
  display: flex;
  flex-direction: row;

  .details{
    width: 40%;
    margin-top: 40px;
    i{
      padding-left: 10px;
      justify-content: center;
      align-items: center;
    }
    a{

      padding-right: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 200px;
      background-color: #3f51b5;
      border-radius: 5px;
      color: white;
    }
    p{
      padding: 20px 20px 0 50px;
      box-sizing: border-box;
    }

  }

  .details2{
    width:30%;
    margin-top: 60px;
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    justify-content: space-evenly;
    padding-top: 10px;
    .item1, .item2{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      i{
        padding-right: 10px;

      }
    }

    .count{
      font-family: "Roboto", sans-serif1;
      font-size: 20px;
      padding-top: 50px;
    }

  }


  .TravelBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 80px;
    padding-right: 40px;
    width: 30%;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3f51b5;
      color: rgba(255, 255, 255, 0.9);
      font-size: 0.75em;
      padding: 1.05em 1em;
      position: relative;
      height: 50px;
      width: 100px;
      border-radius: 10px;

      &:hover{
        background-color: rgba(255, 255, 255, 0.9);
        color: #3f51b5;
        border-radius: 10px;
      }
    }
  }
}

///////////




.container2{
  padding-bottom: 40px;
  width: 80%;
  height:100%;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.2);
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .wrapper{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    margin-top: 30px;
      .addCommentBtn{
        height: 50px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #3f51b5;
          color: rgba(255, 255, 255, 0.9);
          font-size: 0.75em;
          padding: 1.05em 1em;
          position: relative;
          height: 50px;
          width: 150px;
          border-radius: 10px;

          &:hover{
            background-color: rgba(255, 255, 255, 0.9);
            color: #3f51b5;
            border-radius: 10px;
          }
        }
      }
  }
    .comments{
      width: 80%;
      box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.2);
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      padding: 10px;
      margin-top: 15px;

        .Image{
          width: 70px;
          height: 70px;
          background: var(--image-url);
          background-size: cover;
          display: block;
          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.2);
          margin-top: 10px;

        }

        .middle{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-top: 15px;
          width: 60%;
            .userName{
              margin-bottom: 10px;
              font-family: "Raleway", sans-serif;
              color: brown;
            }
            .comments{

            }
            .timeStamp{
              margin-top: 10px;
              font-family: "Raleway", sans-serif;
              font-size: small;
              color: #A9A8A3;
            }

        }

      .contactBtn{
        width: 100px;


          a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: cadetblue;
            color: rgba(255, 255, 255, 0.9);
            font-size: 0.75em;
            padding: 1.05em 1em;
            position: relative;
            height: 50px;
            width: 100px;
            border-radius: 10px;
            top: 20px;

            &:hover{
              background-color: rgba(255, 255, 255, 0.9);
              color: cadetblue;
              border-radius: 10px;
            }
          }
      }
    }



}
















































