<section class="main">

  <section class="container">

    <div class="image-box">
      <div class="image-box__background"></div>
      <div class="image-box__overlay" >
        <img  [src] = "image"/>
      </div>
      <div class="image-box__content">
        <div class="title1">{{destination.city}}</div>
        <div class="title2">{{destination.region}} - {{destination.country}}</div>
      </div>
    </div>
  <div class="detailsWrapper">

    <div class="details">
      <a mat-button mat-raised-button (click)="navigate()" ><i class="fas fa-chevron-circle-left" style="padding-right: 10px;"></i>Go back</a>
      <p>{{destination.description}}</p>
    </div> <!-- end section -->

    <div class="details2">
      <div class="item1">
        <span><i class="fas fa-suitcase-rolling"></i>Travelers</span>
        <div class="count"><strong>{{destination.travelers.length}}</strong></div>
      </div>
      <div class="item2">
        <span><i class="far fa-calendar-alt"></i>Date</span>
        <div class="count"><strong>14/12/2019</strong></div>
      </div>

    </div>

    <div class="TravelBtn">
            <a mat-button mat-raised-button *ngIf="!isTraveler()" > <h3 (click)="addTraveler()"> Travel </h3></a>
            <a mat-button mat-raised-button *ngIf="isTraveler()" > <h3 (click)="removeTraveler()"> Quit </h3></a>
    </div>

  </div>

  </section> <!-- end section -->

  <section class="container2" *ngIf="isTraveler()">
    <app-travelers [travelers]="destination.travelers"></app-travelers>
  </section>

  <section class="container2">
        <div class="wrapper">
          <div class="addCommentBtn" >
              <button mat-raised-button color="accent" (click)="showDialog()">Add Comment</button>
          </div>
        </div>
    <app-opinions *ngFor="let opinion of destination.opinions.reverse()" [opinion]="opinion" class="comments"></app-opinions>


  </section> <!-- end section -->
</section> <!-- end section -->

