

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-dialog-content>

      <mat-card-header>
        <mat-card-title *ngIf="isUpdateMode">Update {{ form.get('firstname').value }} {{ form.get('lastname').value }}</mat-card-title>
        <mat-card-title *ngIf="!isUpdateMode">Create new User</mat-card-title>
      </mat-card-header>

      <form novalidate class="example-form" [formGroup]="form">
        <mat-card-content>
          <mat-form-field class="example-full-width" [class.mgb15]="form.get('pseudo').dirty && form.get('pseudo').invalid">
            <input matInput placeholder="Pseudo" formControlName="pseudo" required>
            <mat-error *ngIf="form.get('pseudo').dirty && form.get('pseudo').hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('pseudo').dirty && form.get('pseudo').hasError('minlength')">
              First name is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" [class.mgb15]="form.get('password').dirty && form.get('password').invalid">
            <input matInput placeholder="Password"  formControlName="password" type="password" nullValue>
            <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('minlength')">
              First name is <strong>4 chars min</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" [class.mgb15]="form.get('firstname').dirty && form.get('firstname').invalid">
            <input matInput placeholder="FirstName"  formControlName="firstname" type="text" required>
            <mat-error *ngIf="form.get('firstname').dirty && form.get('firstname').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('firstname').dirty && form.get('firstname').hasError('minlength')">
              First name is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" [class.mgb15]="form.get('lastname').dirty && form.get('lastname').invalid">
            <input matInput placeholder="LastName"  formControlName="lastname" type="text" required>
            <mat-error *ngIf="form.get('lastname').dirty && form.get('lastname').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('lastname').dirty && form.get('lastname').hasError('minlength')">
              First name is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email" required name="email" />
            <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('email').dirty && !form.get('email').hasError('required') && form.get('email').hasError('googleEmail')">
              Invalid email <strong>(ex: name.firstname@gmail.com)</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" >
            <mat-label>Choose a role...</mat-label>
            <mat-select [(value)]="selected" formControlName="role" required name="role" [disabled]="!!profile">
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-card-content>

      </form>

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-stroked-button color="accent" class="btn-block" type="button" (click)="cancel()">Cancel</button>
  <button mat-stroked-button color="accent" class="btn-block" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
</mat-card>
</div>
