
<div class="container" [ngStyle]="{'padding-top': '50px'}">


  <aside>
    <app-sidebar></app-sidebar>
  </aside>



  <main class="app-main" >
    <router-outlet></router-outlet>
  </main>



  <footer class="app-footer">
      <span>
          Copyright 2019-2020
      </span>
  </footer>
</div>
