<section class="container2">
<section *ngFor="let traveler of travelers">
  <mat-card>
    <mat-card-title>{{traveler.firstname}} {{traveler.lastname}}</mat-card-title>
    <mat-card-content>{{traveler.email}}</mat-card-content>
  </mat-card>

</section>
</section> <!-- end section -->


