body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E4F0FF;
}

@media (max-width: 991px) {
  app-nav,
  app-aside {
    margin: 0;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";
    grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
  }
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr ;
  grid-template-rows: auto 1fr ;
  grid-gap: 12px;
  grid-template-areas:
    "header content "
    "nav content "
    "nav footer ";

}

.app-header {
  color: white;
  font-size: 14px;
  grid-area: header;
  text-align: center;
  background-color: #FA7D44;
}

.app-nav {
  grid-area: nav;
  margin-left: 0.6rem;
}

.app-main {
  grid-area: content;
  background-color:white;
  height: 100%;
}

.app-footer {
  grid-area: footer;
  background-color:#3f51b5;
  color: white;
  text-align: center;
  padding: 25px 0;
}


