<!-- Toolbar if not logged in -->
<mat-toolbar color="primary" class="app-header" *ngIf="!this.auth.isLoggedIn">
  <div class="nwtFront">Travel Buddy</div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>

<!-- Toolbar if logged in -->
<mat-toolbar color="primary" class="app-header" *ngIf="this.auth.isLoggedIn">
  <div class="nwtFront">Travel Buddy</div>
  <span class="nav-tool-items">
    <a mat-button mat-raised-button (click)="logout()">Logout</a>
  </span>
</mat-toolbar>

<router-outlet name="erreur"></router-outlet>
<router-outlet></router-outlet>
