<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'background-image': 'url(../../../assets/images/BG.png)', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>

      <form [formGroup]="loginForm"  (ngSubmit)="Submit()" class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width" [class.mgb15]="loginForm.get('pseudo').dirty && loginForm.get('pseudo').invalid">
            <input matInput placeholder="Pseudo" formControlName="pseudo" required>
            <mat-error *ngIf="loginForm.get('pseudo').dirty && loginForm.get('pseudo').hasError('required')">
              Pseudo is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.get('pseudo').dirty && loginForm.get('pseudo').hasError('minlength')">
              Pseudo is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" [class.mgb15]="loginForm.get('password').dirty && loginForm.get('password').invalid">
            <input matInput placeholder="Password"  formControlName="password" type="password" required>
            <mat-error *ngIf="loginForm.get('password').dirty && loginForm.get('password').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.get('password').dirty && loginForm.get('password').hasError('minlength')">
              Password is <strong>2 chars min</strong>
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="notAllowed && loginForm.valid">
            the credentials are wrong
          </mat-error>
        </mat-card-content>


        <button mat-stroked-button color="accent" type="submit"  class="btn-block" [disabled]="loginForm.invalid">Log in</button>
      </form>
    </mat-card>

</div>
