<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{'background-image': 'url(../../../assets/images/BG.png)', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerForm"  (ngSubmit)="registerUser()" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width" [class.mgb15]="registerForm.get('pseudo').dirty && registerForm.get('pseudo').invalid">
          <input matInput placeholder="Pseudo" formControlName="pseudo" required>
          <mat-error *ngIf="registerForm.get('pseudo').dirty && registerForm.get('pseudo').hasError('required')">
            Pseudo is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('pseudo').dirty && registerForm.get('pseudo').hasError('minlength')">
            Pseudo is <strong>2 chars min</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" [class.mgb15]="registerForm.get('password').dirty && registerForm.get('password').invalid">
          <input matInput placeholder="Password"  formControlName="password" type="password" required>
          <mat-error *ngIf="registerForm.get('password').dirty && registerForm.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('password').dirty && registerForm.get('password').hasError('minlength')">
            Password is <strong>4 chars min</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" [class.mgb15]="registerForm.get('firstname').dirty && registerForm.get('firstname').invalid">
          <input matInput placeholder="FirstName"  formControlName="firstname" type="text" required>
          <mat-error *ngIf="registerForm.get('firstname').dirty && registerForm.get('firstname').hasError('required')">
            First Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('firstname').dirty && registerForm.get('firstname').hasError('minlength')">
            First Name is <strong>2 chars min</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" [class.mgb15]="registerForm.get('lastname').dirty && registerForm.get('lastname').invalid">
          <input matInput placeholder="LastName"  formControlName="lastname" type="text" required>
          <mat-error *ngIf="registerForm.get('lastname').dirty && registerForm.get('lastname').hasError('required')">
            Last Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('lastname').dirty && registerForm.get('lastname').hasError('minlength')">
            Last Name is <strong>2 chars min</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" required name="email" />
          <mat-error *ngIf="registerForm.get('email').dirty && registerForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.get('email').dirty && !registerForm.get('email').hasError('required') && registerForm.get('email').hasError('googleEmail')">
            Invalid email <strong>(ex: name.firstname@gmail.com)</strong>
          </mat-error>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" type="submit"  class="btn-block" [disabled]="registerForm.invalid">Register</button>
    </form>
  </mat-card>
</div>
