ul li {
  color: white;
}
ul li a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
  outline: 0;
  transition : all 0.6s ease;

  &:hover{
    transition : all 0.6s ease;
  }
}




/* -------------
Sidebar
----------------*/

.sidebar {
  position:fixed;
  //width: 33.3333%;
  width: 13em;
  height: 100%;
  top: 0;
  overflow:hidden;
  background-color: #19222a;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  padding-top: 5em;
}

/* -------------
Sidebar Nav
----------------*/


.sidebar-nav {
  position: fixed;
  width: 13em;
  background-color: #19222a;
  height: 100%;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;

    li {
      margin-left: 0;
      padding-left: 0;
      min-width: 13em;
      display: inline-block;
      width: 100%;

      a {
        color: rgba(255, 255, 255, 0.9);
        font-size: 0.75em;
        padding: 1.05em 1em;
        position: relative;
        display: block;

        &:hover, &:active, &:focus {
          left: 5px;
          color: #19222a;
          background-color: white;
          border-radius: 10px;
        }
      }

      /* -------------
      Sidebar: icons
      ----------------*/
      i {
        font-size: 1.2em;
        padding-right: 0.5em;
        width: 9em;
        display: inline;
        vertical-align: middle;
        padding-bottom: 4px;
      }
    }
  }
}
