<section class="app">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <ul *ngIf="currentUser.role === 'user'">
        <li>
          <a href="#" routerLink="/home/destinations" routerLinkActive="active"><i class="fas fa-plane-departure"></i> <span>Destinations</span></a>

        </li>
  <!--      <li>
          <a href="#" routerLink="/home/groups" routerLinkActive="active"><i class="fas fa-users" ></i> <span class="">Groups</span></a>
        </li>-->
        <li>
          <a href="#" routerLink="/home/profile" routerLinkActive="active"><i class="fas fa-user"></i><span class="">Profile</span> </a>
        </li>
      </ul>

      <ul *ngIf="currentUser.role === 'admin'">
        <li>
          <a href="#" routerLink="/admin/destinations" routerLinkActive="active"><i class="fas fa-plane-departure"></i> <span>Destinations</span></a>

        </li>
        <li>
          <a href="#" routerLink="/admin/users" routerLinkActive="active"><i class="fas fa-users" ></i> <span class="">Users</span></a>
        </li>
      </ul>
    </nav>
  </aside>
</section>
