$color_1: #ffffff;
$font_family_1: 'Roboto', sans-serif;

.login-wrapper {
  height: 100%;
  .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }

  .mat-dialog-actions{
    display: flex;
    justify-content: space-evenly;

  }
  .btn-block {

    width: 40%;
  }
  .mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    .mat-card-title {
      font-size: 30px;
      margin: 0;
    }
  }
  .mat-card {
    padding: 40px 70px 50px;
  }
  .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 40px;
    background: #FFF7FA;
  }
  .mat-form-field-appearance-legacy {
    .mat-form-field-infix {
      padding: 0.8375em 0;
    }
  }
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
  &:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, .6);
    left: 0;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    z-index: -1;
  }
}
.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.mgb15{
  margin-bottom: 15px;
}
