<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-dialog-content>

      <mat-card-header>
        <mat-card-title >Add New Opinion</mat-card-title>
      </mat-card-header>

      <form novalidate class="example-form" [formGroup]="form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Comment" formControlName="comment" required name="comment" >type something...</textarea>
            <mat-error *ngIf="form.get('comment').dirty && form.get('comment').hasError('required')">
              Comment is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </mat-card-content>

      </form>

    </mat-dialog-content>


    <mat-dialog-actions>
      <button mat-stroked-button color="accent" class="btn-block" type="button" (click)="cancel()">Cancel</button>
      <button mat-stroked-button color="accent" class="btn-block" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
    </mat-dialog-actions>
  </mat-card>
</div>
