.wrapper{
  height: 85vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
    .mat-elevation-z8{
        width: 80%;
    }

}

.buttons-fab{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-left: 60px;
  margin-bottom: 10px;
}

.title-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  font-weight: 700;
  .mat-h1 {
    font-size: 30px;
    margin: 0;
  }
}
table.mat-table,table{
  width:100%;
}

._id{
  width: 8%;
}
.pseudo{
  width: 12%;
}
.firstname{
  width: 12%;
}

.lastname{
  width: 12%;
}

.email{
  width: 20%;
}

.role{
  width: 12%;
}


.action{

  width: 24%;

}

.push-right{
  margin-right: 20px;
}

.no-data{
  text-align:center;
  padding-top:30px;
  color:#6c75a9;
}
