<section class="wrapper">
  <!-- Title group  -->
  <div class="title-group" style="padding-top: 40px;">
    <h1 class="mat-h1">Users List</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>

  <section class="buttons-fab" *ngIf="dialogStatus === 'inactive'">
    <button mat-raised-button color="accent" (click)="showDialog()">Add</button>
  </section>

  <p *ngIf="users.length <= 0" class="no-data">There is no Users added yet!</p>

  <div class="container" *ngIf="users.length > 0">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="pseudo" >
          <th mat-header-cell *matHeaderCellDef class="pseudo"> Pseudo </th>
          <td mat-cell *matCellDef="let element"> {{element.pseudo}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef class="firstname"> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef class="lastname"> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="email"> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef class="role"> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="action"> Action </th>
          <td mat-cell *matCellDef="let element; let i = index;" class="action">
            <button mat-raised-button color="primary" class="push-right" [routerLink]="['/admin/editUser/', element.id]" >Edit</button>
            <button mat-raised-button color="accent" (click)="deleteUser(i, element)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</section>
