$heart: red;
$white: #fff;

/// main content
.layout{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 86vh;
  margin: 0;

}


//card
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*, *:before, *:after {
  box-sizing: border-box;
}


.primary {
  display: flex;
  justify-content: flex-end;
}


a {
  text-decoration: none;
  color: #5C7FB8
}



.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
  -webkit-transform:scale(0.8);

}

.container {
  margin: 0 auto;
  width: 400px;
  height: 640px;
  background: #F0F0ED;
  position: relative;
  border-radius: 12px;
  transition : all 0.2s ease-in-out;
  box-shadow: 0 10px 20px rgba(0,0,0,.5), 0 4px 8px rgba(0,0,0,.6);
    &:hover, &:active, &:focus {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,.5), 0 4px 8px rgba(0,0,0,.8);

    }
}

.hero {
  height: 320px;
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


  .image-box__overlay {
    display: inline-flex;
    width:100%;
    height:100%;
    position:absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: -webkit-linear-gradient(rgba(63, 81, 181, 0.2),rgba(0, 0, 0, 1));
    z-index:0;
    transform: skewY(-2.2deg);
    transform-origin:0 0;
    //chrome antialias fix
    -webkit-backface-visibility: hidden;
  }

  img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    transform: skewY(-2.2deg);
    transform-origin:0 0;
    overflow: hidden;
    //chrome antialias fix
    -webkit-backface-visibility: hidden;
  }

  .image-box__background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: -webkit-linear-gradient(rgba(63, 81, 181, 0.2),rgba(0, 0, 0, 1));
  }

}



.imageShort{
  height: 282px;
  width: 187px;
  background: url("../../../assets/images/Amsterdam.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.cover {
  position: absolute;
  top: 110px;
  left: 40px;
  z-index: 2;
}

.details {
  z-index: 3;
  padding: 170px 0 0 50px;
  -webkit-transform:scale(1.2);

  .title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    position: relative;

    span {
      position: absolute;
      top: 3px;
      margin-left: 12px;
      background: #C4AF3D;
      border-radius: 5px;
      color: #544C21;
      font-size: 14px;
      padding: 0px 4px;

    }
  }

  .title2 {
    color: #C7C1BA;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 15px;
  }


  .likes {
    margin-left: 24px;

  }


  .likes:before {
    content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
    position: relative;
    top: 2px;
    padding-right: 7px;
  }

}

.description {

  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;

}

.column1 {
  padding-left: 50px;
  padding-top: 25px;
  width: 220px;
  float: left;
  text-align: center;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag1{
  background: yellowgreen;
  color: black;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 41px;
  padding-top: 0px;
  margin-left: 20px;
  width: 350px;
  float: left;
}


  .icon a .fa-heart-o {
    position: absolute;
    left: 85%;
    bottom: 50%;
    background: $heart;
    color: $white;
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 5px 30px 1px $heart;
    z-index: 4;
  }



fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  font-family: FontAwesome, sans-serif;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}
a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}

