<section class="layout">
  <div class="movie-card" *ngFor="let destination of destinations">
    <div class="container">
      <div class="hero">
        <img *ngIf="!!image(destination.id)" [src]="image(destination.id)">
        <div class="image-box__overlay">

          <div class="image-box__background"></div>
        </div>
        <div class="details">
          <div class="title1">{{destination.city}}</div>
          <div class="title2">{{destination.region}} - {{destination.country}}</div>

        </div> <!-- end details -->
      </div> <!-- end hero -->

      <div class="icon">
        <a href="#"><i class="fa fa-heart-o"></i></a>
      </div>

      <div class="description">
        <div class="column1">

        </div> <!-- end column1 -->

        <div class="column2">

          <p>{{destination.description}}...<a (click)="navigate(destination)">read more</a></p>

        </div> <!-- end column2 -->

      </div> <!-- end description -->
      <mat-toolbar color="primary" class="primary" >
          <span class="nav-tool-items">
            <a mat-button mat-raised-button (click)="navigate(destination)" >Details</a>
          </span>
      </mat-toolbar>

    </div> <!-- end container -->
  </div> <!-- end movie-card -->

</section>


