$color_1: #ffffff;
$font_family_1: 'Roboto', sans-serif;

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: $font_family_1;
}

.custom-dialog-container .mat-dialog-container {
  width: 500px;
  padding: 0px;
  border-radius: 10px;
  box-shadow:none;
  background: none;
  color: transparent;
  overflow: inherit;

}

